.main-area{
    *{
        border-radius: 0.5em;
    }
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 1350px){
        display: block;
        .registers{
            width: 100%;
            margin-top: auto;
        }
        .editor-home{
            width: 100%;
        }
        .cm-theme{
            margin-bottom: 1em;
        }
    }
}




